{% extends 'base.html.twig' %}

{% block body %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('homeprofil') }}">Profil</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('index.disconnected') }}" tabindex="-1" aria-disabled="true">Deconnexion</a>
            </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="{{ path('searchprofil') }}" method="post">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="data">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        </nav>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <main role="main" class="container">
        <div class="container mt-4 d-flex justify-content-between">
        {% if profil != null %}
            <div class="my-3 p-3 bg-white rounded shadow-sm" style="width: 100%;">
                <h6 class="border-bottom border-gray pb-2 mb-0">{{ profil.prenom }} {{ profil.nom }}</h6>
                <div class="media text-muted pt-3">
                {% if filename != null %}
                    <img src="/images/{{ filename }}" style="height: calc(100px + 5vw); width: calc(100px + 5vw); border-radius: 4%;">
                {% else %}
                    <img src="/images/default.jpg" style="height: calc(100px + 5vw); width: calc(100px + 5vw); border-radius: 4%;">
                {% endif %}
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray ml-4">
                    {{ profil.description }}
                    <strong class="d-block text-gray-dark">{{ created|date("d/m/Y") }}</strong>
                </p>
                </div>
            <small class="d-block text-right mt-3">
            <a href="{{ path('updatedprofil') }}" class="btn btn-success">Editer</a>
            </small>
            </div>
        {% else %}
            <div class="my-3 p-3 bg-white rounded shadow-sm" style="width: 100%;">
                <h6 class="border-bottom border-gray pb-2 mb-0">{{ user }}</h6>
                <div class="media text-muted pt-3">
                <img src="/images/default.jpg" style="height: calc(100px + 5vw); width: calc(100px + 5vw); border-radius: 4%;">
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray ml-4">
                    Ajouter une description de vous.
                    <strong class="d-block text-gray-dark">{{ created|date("d/m/Y") }}</strong>
                </p>
                </div>
            <small class="d-block text-right mt-3">
            <a href="{{ path('updatedprofil') }}" class="btn btn-success">Editer</a>
            </small>
            </div>
        {% endif %}
        </div>
        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>
            <div class="media text-muted pt-3">
            <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">@username</strong>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            </p>
            </div>
            <div class="media text-muted pt-3">
            <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#e83e8c"/><text x="50%" y="50%" fill="#e83e8c" dy=".3em">32x32</text></svg>
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">@username</strong>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            </p>
            </div>
            <div class="media text-muted pt-3">
            <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#6f42c1"/><text x="50%" y="50%" fill="#6f42c1" dy=".3em">32x32</text></svg>
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">@username</strong>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            </p>
            </div>
            <small class="d-block text-right mt-3">
            <a href="#">All updates</a>
            </small>
        </div>
        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <h6 class="border-bottom border-gray pb-2 mb-0">Suggestions</h6>
            {% for friend in friends %}
            {% if friend.is_friend == 0 %}
            <div class="media text-muted pt-3">
            <img src="/images/{{ friend.filename }}" style="height: calc(40px + 5vw); width: calc(40px + 5vw); border-radius: 4%;">
            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray ml-4">
                <div class="d-flex justify-content-between align-items-center w-100">
                <strong class="text-gray-dark">{{ friend.prenom }} {{ friend.nom }}</strong>
                <div class="d-flex">
                    <a href="{{ path('profil.accept', { id: friend.user_id }) }}" class="btn btn-success mr-2">Accepter</a>
                    <a href="{{ path('profil.refuse', { id: friend.user_id }) }}" class="btn btn-danger mr-2">Refuser</a>
                </div>
                </div>
                <span class="d-block">@username</span>
            </div>
            </div>
            {% endif %}
            {% endfor %}
            <small class="d-block text-right mt-3">
            <a href="#">All suggestions</a>
            </small>
        </div>
        </div>
        </main>
{% endblock %}